/* Produced by FEIJOEIRO Yoan & ESPIARD Jonathan 
   EPITA - MTI 2019 */

/***** Reset *****/
a, h1 {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

/***** General *****/


.red {
    color: red !important;
}
.underline {
    text-decoration: underline;
}
.uppercase {
    text-transform: uppercase;
}
button {
    cursor: pointer;
}
.contain {
    display: block;
    margin: 40px 10vw 0;
}
.center {
    text-align: center;
}
h3 {
    font-size: 22px;
    margin: 20px 0;
}

/***** Header *****/
#logo {
    margin: 0 20px;
}
.header {
    padding: 20px;
    background-color: #383838; 
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
}
.header .links {
    float: right;
    padding: 20px 0;
}
.header .links a {
    color: white;
    margin: 10px 30px;
}
.header #search-bar{
    vertical-align: top;
    margin: 9px 0 0 30px;
    height: 30px;
    padding: 5px 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    width: 35%;
}


/***** Layout *****/

/* Window */
.window {
    display: block;
    background-color: white;
    width: 50%;
    margin: 100px auto 20px;
    border-radius: 5px;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.1);
}
.window .window-header{
    background-color: #383838;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    text-align: center;
    height: 100px;
}
.window .window-header h1 {
    padding: 37px 0;
    font-size: 26px;
}
.window .window-contain {
    padding: 30px 0;
    text-align: center;
}

/* Button */
.btn {
    padding: 15px 20px;
    margin: 20px 0;
    border: none;
    background-color: red;
    border-radius: 5px;
    font-weight: 600;
    color: white;
}
.btn-img {
    background-color: inherit;
    border: none;
    background-repeat: no-repeat;
    background-size: 24px;
    background-position-y: 6px;
    font-size: 18px;
    padding: 10px 10px 10px 35px;
}

.btn-send {
    display: block;
    margin: 20px 0 10px auto;
}

.btn-delete-history {
    margin: 20px 0;
    background-color: inherit;
    border: none;
    font-size: 14px;
    text-decoration: underline;
    color: red;
    float: right;
}

/* Forms */
.form-group {
    display: block;
    width: 80%;
    margin: 0 auto;
}
.form-group .form-field {
    margin: 15px 0;
}
.form-group .form-field label {
    display: inline-block;
    font-weight: 600;
    width: 25%;
    text-align: right;
    margin-right: 10px;
}
.form-group .form-field input {
    display: inline-block;
    width: 60%;
    border: solid 1px #999999;
    border-radius: 4px;
    height: 30px;
    padding: 5px 20px;
}

/* Misc */
.account-help {
    font-size: 14px;
}
hr {
    border: none;
    border-top: solid 5px red;
    border-radius: 3px;
}
.yt-player {
    text-align: center;
}
.yt-player iframe {
    display: inline-block;
    width: 900px;
    height: 506px;
    margin: 40px auto 10px;
}
.result-search {
    margin: 60px 0;
    font-size: 26px;
}
.history-title {
    display: inline-block;
}

/* Comments */

.comments-space {
    padding: 0 5vw;
}
.comments-space h3 {
    margin: 40px 0;
}
.comments-space .comment {
    margin: 20px 0;
    padding: 15px 40px;
    background-color: white;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}
.comment .comment-header p {
    display: inline-block;
}
.comment .comment-header .author {
    font-weight: 600;
}
.comment .comment-header .date {
    font-style: italic;
    float: right;
}
.post-comment label {
    margin: 40px 10px 20px 0;
    font-weight: 600;
    display: block;
}
.post-comment #ta-comment {
    display: block;
    background-color: white;
    border: solid 1px #999999;
    border-radius: 10px;
    padding: 20px;
    margin: 0;
    font-family: 'Roboto';
    width: 95%;
}

/* Video searches */
.search-container .yt-thumbnail {
    display: inline-block;
    vertical-align: top;
    width: 400px;
    margin: 20px 50px;
}
.search-container .yt-thumbnail img {
    width: 100%;
    height: auto;
}
.search-container .yt-thumbnail p {
    text-align: center;
    font-size: 16px;
}

/* Page selection */
.pages-selection {
    text-align: center;
    margin: 20px 0 30px;
}
.pages-selection a {
    display: inline-block;
    margin: 0 10px 0;
}
.pages-selection img {
    width: 18px;
    height: 18px;
}
.pages-selection .page-number {
    background-color: red;
    padding: 15px;
    border-radius: 4px;
    color: white;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.55);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.55);
}
.pages-selection .page-inter {
    vertical-align: bottom;
}

/* Favorites videos and history */
.myvideo-elt {
    margin: 50px 0;
    position: relative;
}
.myvideo-elt .my-yt-thumbnail {
    display: inline-block;
}
.myvideo-elt .my-yt-thumbnail img {
    width: 250px;
    height: auto;
}
.myvideo-elt .infos {
    display: inline-block;
    vertical-align: top;
    margin: 20px 0 0 20px;
}
.myvideo-elt .infos .title{
    font-weight: 600;
}
.myvideo-elt .infos .time{
    font-style: italic;
}
.myvideo-elt p {
    display: block;
    color: black;
    font-size: 16px;
    margin: 0;
}