/* Button */
.btn {
    padding: 15px 20px;
    margin: 20px 0;
    border: none;
    background-color: red;
    border-radius: 5px;
    font-weight: 600;
    color: white;
}
.btn-img {
    background-color: inherit;
    border: none;
    background-repeat: no-repeat;
    background-size: 24px;
    background-position-y: 6px;
    font-size: 18px;
    padding: 10px 10px 10px 35px;
}
.btn-favorite {
    display: block;
    text-align: center;
    background-image: url(../../Images/favorite-heart.svg);
    margin: 10px auto 20px;
}
.btn-send {
    display: block;
    margin: 20px 0 10px auto;
}
.btn-delete-favorite {
    display: block;
    text-align: center;
    background-image: url(../../Images/remove-favorite.svg);
    margin: 10px auto 20px;
}
.btn-delete-history {
    margin: 20px 0;
    background-color: inherit;
    border: none;
    font-size: 14px;
    text-decoration: underline;
    color: red;
    float: right;
}